* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: white;
  cursor: pointer;
}
.game {
  width: 500px;
  height: 200px;
  margin: auto;
  margin-top: 10%;
  overflow: hidden;
  border: 1px solid black;
  border-bottom: 2px solid green;
  background-color: lightblue;
}
#character {
  width: 20px;
  height: 50px;
  background-color: transparent;
  position: relative;
  top: 152px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-left: 5px;
}
.fa-person {
  margin-bottom: 2px;
  background-color: transparent;
}
.animate {
  animation: jump 0.3s linear;
}
@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 100px;
  }
  70% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}

#block {
  background-color: transparent;
  width: 18px;
  height: 22px;
  position: relative;
  top: 130px;
  left: 500px;
  animation: block 1s infinite linear;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.fa-ghost {
  background-color: transparent;
}

@keyframes block {
  0% {
    left: 500px;
  }
  100% {
    left: -20px;
  }
}
p {
  text-align: center;
  margin-top: 5%;
  font-weight: 500;
}

.panel {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.panel button {
  width: 30%;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
}
.panel button:active {
  transform: scale(1.02);
}
